@font-face {
  font-family: balsamiqSans-Regular;
  src: url('../assets/fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf');
}

@font-face {
  font-family: montserrat-Regular;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: montserrat-Bold;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}
